## Fencing Statistics - ČR and World
#### 7.11.2022 After a competition in Písek (5.-6.11.2022)
#### 8.12. still manually preparing Men data...
#### 21.12. creating local repo and GITHub https://github.com/JirkaZelenka/Czech-Fencing-Statistics

* https://fie.org/athletes/                                      = Individual's Profile, D.o.B.
* https://fie.org/competitions                                   = Event profile

* https://www.czechfencing.cz/portal/teams/detail/14             = Club's profile
* https://www.czechfencing.cz/portal/rankings/list               = Rankings + filters 
* https://www.czechfencing.cz/portal/members/detail/1175         = Individual's Profile
* https://www.czechfencing.cz/portal/events/detail?eventId=3095  = Event profile with a File included
* https://www.czechfencing.cz/user_files/propositions/63541c9150a35/Lazensky-pohar-2022.pdf = File with details

* http://sermliga.eu/  = univerzitní liga, 3. kola, 2. teď v praze

### Ideas:

##### Hlavní metriky:
* Poměr výher/proher
* Index = zásahy dal minus dostal
* Průměrné umístění (vždy přepočítat na percentily kvůli různým počtům účastníků?)
* Počet medailí celkem 

#### 4 úrovně: Kluby, Závodníci obecně, Zápasy (vzájemné skore dvojic) a pak predikce (sázky, regrese,simulace ...)

#### Kluby:
* ~~celkový počet členů~~, **V2_Club.html**
* ~~věkové statistiky~~ - **V1_Year-Club.html**
* žebříčky po turnajích, ~~po medailích,~~  
* žebříčky podle typu turnaje (UŠL/ČR/Svět), podle zbraně (Jen kord)
* statistiky států (měst) a klubů
* průměrný věk a počet nasazených za klub
* průměrné umístění za klub v daném turnaji
* ~~který klub má kolik medailí.~~  **V4_Medals-Club.html**
* pro každého človeka/klub mít průměrný počet zásahů na zápas, přičemž oddělovat poolové a eliminační (15b)
* PŘIDAT KROM KLUBU JEŠTĚ MĚSTO, odkud klub pochází?

#### Závodníci obecně:
* ~~věkové statistiky~~ **V1_Year-Club.html**
* ~~průměrný "aktivní" věk výherců, ale i ten reálný~~ **V3_Medals-Year.html**
* ~~(věk - vyhrává stáří a xp vs mládí a energie?)~~
* leváci vs praváci. jejich zastoupení u obou pohlaví, u klubů atd.
* muži vs ženy. věk , rozložení medailí, zbraně, ruka... histogramy
* pro každého človeka/klub mít průměrný počet zásahů na zápas, přičemž oddělovat poolové a eliminační (15b)
* Znamení zvěrokruhu xD

#### Závodníci- profily jednotlivců + vzájemné info (když se vyberou dva lidi), společné zápasy
* po zvolení člověka vidím jeho medailonek jako na webu (věk, klub, ??ruka??)
* ale taky účast na všech turnajích, co si ještě můřu rozfiltrovat podle typu soutěže: přidat LVL závodu, tj UŠL < Klasický závod < MČR < Evropské < Světové
* kalendář, kdy byl aktivní.
* nejlepší umístění, průměrné umístění (zas podle typu soutěže)
* počet odehraných zápasů, TS, TR ...
* největí nemesis, nejlepší terč?
* co by koho osobně ještě mohlo zajímat???
#### 
* vzájemné soutěže, kde se potkali, i když spolu třeba nebojovali
* vzájemné souboje, historie duelů pro danou dvojici (nebo klub), skore a počty výher pro každou dvojici. = vybrat si libovolnou dovjici lidí a ukázat celou jejich soubojovu historii, jednak přímé boje, ale i to na kterých turnajích se potkali a jak dopadli.
* pořadí, ale i eliminace, kolikrát vypadnutí nazčátku atd., kolikrát ve finále.
* počet zápasů. zlepšování se v čase. Sankey diagramy umístění (v rámci klubu?)
* overall matice, každý s každým, aby se vidělo, kdo se s kým už potkal ve skupině nebo v eliminaci, ajak to dopadlo. V případě že už vícekrát,tak vytvořit jejich vzájemný skore, podle počtu výher? - příklad A v řádku porazí B ve sloupci ve 2 bojích ze 3, tak dostane skore +2? nebo prostě zelený čtvereček. naopak červený. nebo žlutý na remízu nebo šedivý pokud nic)

#### Predikce (bonusová část)
* -> Předpovědět když se potká někdo z SC a někdo z VSK, jak to pravděpodobně dopadne
* srovnávačka, jak moc první kolo předpoví i finální výsledek
* nějaká regrese, jak se klub a věk podílí na pořadí, resp korelace věku a pořadí. asi bude kvadratický vztah?
* regrese - jak se index podepíše na postupu, resp na pozici. protože některé s -16 prošli a čestmír s -6 neprošel
* procentuální šance na výhru. Pak by se dalo sázet :O Odhadnout, že Vávra vyhrává 90 % zápasů a nejhůř dává 4 zásahy. Nebo že například Vávra vždy porazil kohokoliv z VUT a Olomouce. 
* Pokémon systém xD udělat modelové souboje
* možnost nasimulovat celý zápas podle historických dat, znovu vytvořit pooly i žebříček
* možnost vidět jak by dopadl tehdejší turnaj, kdyby se odehrál dnes -> tj záleží na pořadí a historii zápasů.
* v případě simulace celého zápasu, vidět jak by se zpřesNoval kyž mu dodám postupně třeba poolová data.

### Data format:
* **Tři tabulky**
* 1) **Závodníci** - ID / Jméno / Klub (potenciálně víc)  / Stát / Pohlaví / D.narození / Ruka / Zbraň / Skore v žebříčku k poslednímu update 
* // dopočítaný počet všech turnajů, počet poolových zápasů a počet eliminačních zápasů, a jejich koeficienty Výher. / Počet vítězství? nebo to až později...

* 2) **Eventy** - ID / Datum / Event / Město / Pohlaví / Počet účastníků / Počet účastníků obou pohlaví

* 3) **Výsledky Eventů** - ID / ID Event / ID závodníka / Rank ČR před / Rank po Poolu / Status po Poolu (Adv./Elim.)/ Rank Celkově 

* 4) **Zápasy** - ID / ID Eventu / ID závodníka 1 / ID závodníka 2 / Fight Lvl (Pool/Eliminace_32) / Výsledek (V/D) / Scored / Received 

#### Zatím:
1) **1_zavodnici.xlsx**
2) **2_ranky.xlsx** = **Výsledky Eventů**
3) **Zápasy**

### Notes
* https://www.czechfencing.cz/portal/rankings/list - po Exportu vyjede textak, kde sice nejsou body za jendotlivé soutěže, ale je tam zas celé datum narození !

* v žebříčcích se dá sehnat 600 bodů za jediný event, i když standardní český turnaj je třeba za 80

- ze závodu 09 - MCR USK - tak jsou tam i týmy. hromada dalších tabulek,ale to zatím neřeším beru základ.

- zajímavé formátování outputu:
| Default | Left-aligned | Center-aligned | Right-aligned |
|---------|:-------------|:--------------:|--------------:|
| Default | Left | Center | Right |

5.1. Souboje s opravami (polovina ženských zápasů):
- zavádím tam v eliminaci značení: Eliminace_32, Eliminace_16_A, Eliminace_16_B, 
- Eliminace_8_A (výherci z 16_A)
- Eliminace_16_AB, Eliminace_8_AB (spojení prohraných 16_A a vítězů 16_B, dvakrát po sobě -> 4 zbydou )
- Eliminace_8_B (pohravší 8_A a vítězové Eliminace_8_AB)
- Eliminace_8 = klasická Osmička, a dál ...


- Vizualizace V1-V4 uděat přepínání mezi muži, ženami, a součtem
- ještě řeším roky - šlo by místocheckboxů mít ty toggle tlačítka? pokdu každé může mít dva stavy, tak jich prostě mít víc? jen je dobře posčítat pak?
- u V3 by bylo hekzé do pozadí dát počet lidí té dané věkovéískupiny, takovou tu populační křivku
- step 1 dropdowny na 4 grafy - muží, ženy, součet. 
- Step 2 možná i dropdown na roky. 
- step 3) data ženy čistění a ukložení. 
- 4) spojení s muži
- UPRAVIT názvy grafů, aby taky reflektovaly pohlaví? pokud teda budou oddělené.


~~--Index je vždycky rozdíl dal-dostal = TS-TR; TS = touche scored = ZD (zásahů dal); TR = touches received ~~--

~~-- v posledním turnaji v Písku, všem (mužům) posunuli den narození o den dřív :D včetně mě, Rubeše a všech co jsem si kontrolov.~~-

~~Rozbitá jména v písku - ADAM Sykora je Sýkora Adam Herbert~~

~~* zrovna VSK Humanita je nějaká divná, protože ve výsledcích turnaje se jmenuje **HF PRAHA**, teď jsem akorát našel **HUMANITA PHA** a taky **VSK HUMANITA**, potom ještě **VSKHPZ** přes Aničku~~

In [619]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go

def printbold(s):
    print("\033[1m" + s + "\033[0m")

# I. PREPROCESSING
### ((a zatím nepoužitý výsledek po Poolovém kole))

## I.1 - LOADING připravených excelů

* Excel - velká manuální část - stáhnutí PDF tabulek do excelu, přepis Ranků na integer (jsou tam T), namnožení sloupečků s Datumem, Eventem, Pohlavím, sortování první tabulky podle příjmení, Kontrola useknutých jmen,
* a hlavně: Vytvoření Poolových tabulek a záznamů z eliminace
* Kontrola Birthdate oproti exportu z webu ve formě CSV, a oproti ostatním záznamům z minulých turnajů
* chybí mi "ruka"

In [647]:
SEX = "W"

In [620]:
men = ["M_2020_02_Dukla_Olomouc.xlsx", "M_2021_09_MCR.xlsx","M_2021_10_Lazensky_pohar.xlsx","M_2021_11_Pisek.xlsx", 
       "M_2021_12_Memorial.xlsx", "M_2022_03_Dukla_Olomouc.xlsx", "M_2022_04_Jested.xlsx","M_2022_05_MCR_USK.xlsx",
       "M_2022_10_Lazensky_pohar.xlsx", "M_2022_11_Pisek.xlsx", "M_2022_12_Memorial.xlsx"]

women = ["W_2019_05_MCR.xlsx", "W_2019_10_Pohar_CEZ.xlsx", "W_2019_12_Cup_USK.xlsx", "W_2020_01_Letnany.xlsx", 
         "W_2020_02_Dukla_Olomouc.xlsx", "W_2020_09_MCR.xlsx", "W_2021_09_MCR.xlsx", "W_2021_11_Letnany.xlsx", "W_2021_11_Pisek.xlsx",
         "W_2022_03_Dukla_Olomouc.xlsx", "W_2022_04_Teplice.xlsx", "W_2022_05_MCR_USK.xlsx", "W_2022_10_Lazensky_pohar.xlsx",
         "W_2022_11_Pisek.xlsx" , "W_2022_12_Memorial.xlsx"]

In [621]:
def merge_all(list_of_events, sex):
    df_tot = pd.DataFrame(columns = ['Name', 'Club', 'Country', 'Sex', 'Birthdate',
                                 "Date", "Event", "Rank", "Init_rank", "First_rank", "Final_rank",
                                 "V",  "V/M",  "TS", "TR", "Ind", "Notes"])
    if sex == "M":
        s = "men"
    else:
        s = "women"
    for event in list_of_events:
        e = pd.ExcelFile(f"C:/Users/jzelenka/Documents/python_j/fencing/data/{s}/" + event)
        df0 = pd.read_excel(e, 'initiation')
        df1 = pd.read_excel(e, 'first_round')
        df2 = pd.read_excel(e, 'total_rank')
        
        if len(df0) == len(df1) == len(df2):
            if sorted(df0['Name'].unique()) == sorted(df1['Name'].unique()) == sorted(df2['Name'].unique()):
                print(f"Event {event} has {len(df0)} people per each list, {len(df0['Name'].unique())} unique Names")
            else:
                printbold(f"Event {event} has an inconsistency in the uniqueness of names !!!!!!!!")
                printbold(f"unique names: {len(df0['Name'].unique())}, {len(df1['Name'].unique())}, and {len(df2['Name'].unique())}")
                
        else:
            printbold(f"Event {event} has an inconsistency in the length of the lists !!!!!!!!")
            printbold(f"length initiation: {len(df0)}, first_round: {len(df1)}, and total_rank: {len(df2)}")
            
        
        df3 = pd.merge(df0, df1, on = ['Name',"Club", "Country"])
        df4 = pd.merge(df3, df2, on = ['Name',"Club", "Country"])
                                                                                                            
        if len(df0) == len(df4) and len(df0['Name'].unique()) == len(df4['Name'].unique()):                                               
            print(f"Correct after merging")
        else:
            printbold("Something is wrong, during merging or before !!!!!!!!!!!!!!!!!!!!")
        
        df_tot=df_tot.append(df4)
        print(f"new length of total = {len(df_tot)}")
        printbold("####################################")
        
    df_tot = df_tot[["Name", "Club", "Country","Birthdate_x", "Date_x", "Event_x", "Sex_x", "Rank", "First_rank", "Final_rank", "Notes"]]
    df_tot = df_tot.rename(columns={"Birthdate_x":'Birthdate', "Date_x": "Date", "Event_x": "Event", "Sex_x": "Sex" })
    df_tot.reset_index(inplace=True, drop = True)
    
    return df_tot

In [622]:
df_m = merge_all(women, SEX)
print(len(df_m))
print(df_m.head(2))
print(df_m.tail(2))

Event W_2019_05_MCR.xlsx has 30 people per each list, 30 unique Names
Correct after merging
new length of total = 30
####################################
Event W_2019_10_Pohar_CEZ.xlsx has 57 people per each list, 57 unique Names
Correct after merging
new length of total = 87
####################################
Event W_2019_12_Cup_USK.xlsx has 42 people per each list, 42 unique Names
Correct after merging
new length of total = 129

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

####################################
Event W_2020_01_Letnany.xlsx has 46 people per each list, 46 unique Names
Correct after merging
new length of total = 175
####################################
Event W_2020_02_Dukla_Olomouc.xlsx has 34 people per each list, 34 unique Names
Correct after merging

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

new length of total = 209
####################################
Event W_2020_09_MCR.xlsx has 35 people per each list, 35 unique Names
Correct after merging
new length of total = 244
####################################
Event W_2021_09_MCR.xlsx has 36 people per each list, 36 unique Names
Correct after merging
new length of total = 280
####################################

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Event W_2021_11_Letnany.xlsx has 55 people per each list, 55 unique Names
Correct after merging
new length of total = 335
####################################
Event W_2021_11_Pisek.xlsx has 49 people per each list, 49 unique Names
Correct after merging
new length of total = 384
####################################
Event W_2022_03_Dukla_Olomouc.xlsx has 36 people per each list, 36 unique Names
Correct after merging

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

new length of total = 420
####################################
Event W_2022_04_Teplice.xlsx has 48 people per each list, 48 unique Names
Correct after merging
new length of total = 468
####################################
Event W_2022_05_MCR_USK.xlsx has 32 people per each list, 32 unique Names
Correct after merging
new length of total = 500
####################################
Event W_2022_10_Lazensky_pohar.xlsx has 42 people per each list, 42 unique Names
Correct after merging
new length of total = 542
####################################

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Event W_2022_11_Pisek.xlsx has 38 people per each list, 38 unique Names
Correct after merging
new length of total = 580
####################################
Event W_2022_12_Memorial.xlsx has 45 people per each list, 45 unique Names
Something is wrong, during merging or before !!!!!!!!!!!!!!!!!!!!
new length of total = 624
####################################
624
                   Name          Club Country  Birthdate       Date Event Sex  \
0  AIGERMANOVÁ Gabriela  LOKO TEPLICE     CZE 2002-06-07 2019-05-25   MCR   W
1   BIELESZOVÁ Veronika      SC PRAHA     CZE 2002-04-25 2019-05-25   MCR   W

  Rank First_rank Final_rank       Notes
0   22         26         26  Eliminated
1    8          2          5    Advanced
                 Name          Club Country  Birthdate       Date     Event  \
622  WEISOVÁ Kateřina  LOKO TEPLICE     CZE 2004-06-05 2022-12-17  Memorial
623       YOUSEF Mira  SP.Š.ÚSTÍ/L.     UKR 2006-12-05 2022-12-17  Memorial

    Sex Rank First_rank Final_rank     Notes
622   W   30         26         27  Advanced
623   W   23          3          9  Advanced

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\3050692290.py:35: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

In [623]:
df_m.tail()

,Name,Club,Country,Birthdate,Date,Event,Sex,Rank,First_rank,Final_rank,Notes
619,VALENTOVÁ Amálie,SC PRAHA,CZE,2007-08-23,2022-12-17,Memorial,W,43,24,8,Advanced
620,VINCENCOVÁ Ester,SC PRAHA,CZE,2001-10-07,2022-12-17,Memorial,W,8,15,3,Advanced
621,VYSLOUŽILOVÁ Vanda,SC PRAHA,CZE,2007-01-13,2022-12-17,Memorial,W,52,28,29,Advanced
622,WEISOVÁ Kateřina,LOKO TEPLICE,CZE,2004-06-05,2022-12-17,Memorial,W,30,26,27,Advanced
623,YOUSEF Mira,SP.Š.ÚSTÍ/L.,UKR,2006-12-05,2022-12-17,Memorial,W,23,3,9,Advanced

In [624]:
display(df_m.describe())
#display(df_m.describe(datetime_is_numeric=True))

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\701769035.py:1: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\jzelenka\AppData\Local\Temp\ipykernel_22624\701769035.py:1: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,Name,Club,Country,Birthdate,Date,Event,Sex,Rank,First_rank,Final_rank,Notes
count,624,624,624,624,624,624,624,463.0,624.0,624.0,624
unique,189,80,6,142,15,11,1,64.0,57.0,56.0,2
top,AIGERMANOVÁ Gabriela,SC PRAHA,CZE,2000-03-05 00:00:00,2019-10-12 00:00:00,MCR,W,999.0,24.0,3.0,Advanced
freq,14,129,601,22,57,101,624,44.0,18.0,30.0,564
first,NaN,NaN,NaN,1972-11-01 00:00:00,2019-05-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,2011-11-01 00:00:00,2022-12-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [625]:
for col in df_m.columns:
    printbold(f"# {col}")
    display(df_m[col].value_counts())
    printbold("######################################")

# Name

AIGERMANOVÁ Gabriela            14
COUFALOVÁ Anna                  14
VINCENCOVÁ Ester                14
PROKŠÍKOVÁ Patricie             14
POTOČKOVÁ Kateřina              14
JASNÁ Adéla                     13
SALIGEROVÁ Kateřina             13
ŠPATENKOVÁ Anna                 13
PĚCHOVOVÁ Michala               13
JASNÁ Tereza                    13
NOVÁKOVÁ Petra                  13
ŠEDIVÁ Michaela                 12
KOŘÍNKOVÁ Magdalena             12
WEISOVÁ Kateřina                12
HAVLÍNOVÁ Tereza                11
FRDLÍKOVÁ Markéta               11
VOLÁKOVÁ Hana                   11
DOUBOVÁ Dominika                10
KOŘÍNKOVÁ Miroslava             10
BIELESZOVÁ Veronika             10
KŘENKOVÁ Karolína               10
CHALUPNÍKOVÁ Aranka              8
DIVIŠOVÁ Klára                   7
VÁCHOVÁ Tereza                   7
ŘÍHOVÁ Marcela                   7
CEJNAROVÁ Barbora                7
ČERVENKOVÁ Kateřina              7
ČAPKOVÁ Barbora                  7
MATĚJČKOVÁ Lucie                 6
HARTMANOVÁ Barbora               6
JANKOVÁ Karolina                 6
ŠÁMALOVÁ Anna                    6
MIROVSKÁ Eliška                  6
URBÁNKOVÁ Klára                  5
SLUŠNÁ Karolína                  5
POKORNÁ Anna                     5
NOVOTNÁ Veronika                 5
KOCOURKOVÁ Marie                 5
ROUBÍČKOVÁ Anna                  5
NEVOSADOVÁ Eliška                5
ŽÁDNÍKOVÁ Daniela                5
TOMANOVÁ Kateřina                5
ADAMCOVÁ Anita                   5
MĚSÍČKOVÁ Barbora                4
KŘEČKOVÁ Kamila_Marie            4
ŽOLNOVÁ Karolína                 4
SYROVÁTKOVÁ Iva                  4
ŠAFRÁNKOVÁ Adéla                 4
JELÍNKOVÁ Martina                4
MAIELLO Ester                    4
YOUSEF Mira                      4
DOŠKOVÁ Kateřina                 4
HABRYCHOVÁ Eva                   4
ŠMÍDOVÁ Daniela                  4
TŮMOVÁ Šárka                     4
MARČÍK Sára                      4
KAHABKOVÁ Eliška                 3
ZIEGLEROVÁ Adéla Anna            3
HONOVÁ Markéta                   3
VACKOVÁ Tereza                   3
CHEVALLIER Vira                  3
VRATIŠOVSKÁ Zlata                3
HANZLÍKOVÁ Klára                 3
VYSLOUŽILOVÁ Vanda               3
TYRPEKLOVÁ Amélie                3
VALENTOVÁ Amálie                 3
TROJANOVÁ Kristýna               3
DE_VINCENZO Francesca            3
VRŠNÍKOVÁ Karolína               3
SELICHAROVÁ Gabriela             3
DIVIŠOVÁ, ROZ. JÍLKOVÁ Klára     3
SEHNALOVÁ Markéta                3
LIPOVÁ Aneta                     3
CHALUPNÍKOVÁ Arana               3
HUNČÁROVÁ Katarína               2
SVOBODA Michaela                 2
LINDEROVÁ Nina                   2
RAJNOCH Barbora                  2
VACÍNOVÁ Gabriela                2
BOROVIČKOVÁ Hana                 2
TITĚROVÁ Michaela                2
KÜHNOVÁ Karolína                 2
KUGLEROVÁ Klára                  2
JANKOVÁ Karolína                 2
HONOMICHLOVÁ Martina             2
KINCLOVÁ Emma                    2
CHEVALIER Vira                   2
JÍLKOVÁ Nikola                   2
LAŠTOVKOVÁ Marcela               2
PRŮŠOVÁ Kristýna                 2
BARTOSKOVA Adéla                 1
HAVLINOVA Tereza                 1
HAIKAL Victoria                  1
KORYCH Gabriela                  1
FRDLIKOVA Markéta                1
DIVISOVA Klára                   1
COUFALOVA Anna                   1
CEJNAROVA Barbora                1
BROVKO Inna                      1
BIELESZOVA Veronika              1
PRCHALOVÁ Eliška                 1
KOŘÍNKOVÁ Magdaléna              1
VACHOVA Tereza                   1
AIGERMANOVA Gabriela             1
ADAMCOVA Anita                   1
ROHANOVÁ Anna                    1
TVARŮŽKOVÁ Karolína              1
TÓBISZOVÁ Monika                 1
MYŠKOVÁ Petra                    1
LAŠTOVKOVÁ Tereza                1
HONOVA Marketa                   1
VINCENCOVA Ester                 1
BARTOŠKOVÁ Adéla                 1
POKORNA Anna                     1
TUMOVA Šárka                     1
TODORYSHYNA Virkoriia            1
SYROVATKOVA Iva                  1
SMIDOVA Daniela                  1
SLUSNA Karolína                  1
SAMKO Anastasiia                 1
SALIGEROVA Katerina              1
PROKSIKOVA Patricie              1
WEISOVA Katerrina                1
POTOCKOVA Katerina               1
PECHOVOVA Michala                1
HUNCAROVA Katarína               1
NOVAKOVA Petra                   1
MYSKOVA Petra                    1
MATEJCKOVA Lucie                 1
FORMANOVÁ Elizabeth              1
LASTOVKOVA Tereza                1
KUHNOVA Korolína                 1
KOCOURKOVA Marie                 1
KAHABKOVA Eliska                 1
CHALUPNIKOVA Aranka              1
ZIEGLEROVA Adéla Anna            1
KOPKOVÁ Hana                     1
GAZDOVÁ Beáta                    1
STUPKOVÁ Sára                    1
TAKAKURA Makoto                  1
ČÁPOVÁ Barbora                   1
KRAUSE Rebekka                   1
KVETOVSKÁ Veronika               1
MAYA Danierys                    1
PŘIBYLOVÁ Eliška                 1
NOVÁČKOVÁ Dominika               1
DE VINCENZO Francesca            1
PIOVESAN Patrizia                1
POSADA Betyumil                  1
ROSKOVÁ Sonja_Maria              1
SASVARIOVÁ Laura                 1
HLAVÁČKOVÁ Lucie                 1
ROŠKOVÁ Sonja                    1
KŘEČKOVÁ Kamila                  1
SKOČILASOVÁ Kristýna             1
TYRPEKLOVÁ Amálie                1
ŠEBESTOVÁ Nela                   1
KRAUSE Rebeka                    1
DLOUHÁ Tereza                    1
ČERNÍKOVÁ Lucie                  1
VOGEL Leona_Emilia               1
NÁDVORNÍKOVÁ Barbora             1
GRÜNEROVÁ Michaela               1
JASKULLA Klara                   1
ROVENSKÁ Emma                    1
SMUTNÁ Tereza                    1
MÜLLEROVÁ Ivana                  1
LANDGRAFOVÁ Veronika             1
MIKLENDOVÁ Valérie               1
JURKOVÁ Hana                     1
HUNČÁROVÁ Katarina               1
KŘESINOVÁ Zlata                  1
RAKOUŠOVÁ Karolína               1
KŘÍŽOVÁ Tereza                   1
KOCOUROVÁ Marie                  1
KINCLOVÁ Ema                     1
HONOVÁ Markéte                   1
HANESZ Katarina                  1
TOTUŠKOVÁ Pavla                  1
ZÁVITKOVSKÁ Zuzana               1
VÁŇOVÁ Kateřina                  1
BALLESTER Scarly                 1
BERTLOVÁ Barbora                 1
BURSOVÁ Regina                   1
FRAŇKOVÁ Magdalena               1
NĚMCOVÁ Pavla                    1
GROLLMISCH Felicitas             1
HÁJEČKOVÁ Tereza                 1
TODORYSHYNA Viktoriia            1
Name: Name, dtype: int64

######################################
# Club

SC PRAHA             129
D.OLOMOUC             55
D.PRAHA               45
USK PRAHA             29
LOKO PLZEŇ            26
LOKO TEPLICE          24
HF PRAHA              22
SCPŠS                 21
TĚLOJDOZ              17
1.FC BĚLÁ             15
TJDPZ                 13
S.S.UH.HRAD.          12
SL.LITOMĚŘICE         12
BOHEMIANS              9
DUKLA PRAHA            9
D.OL                   9
SCP                    7
DUKLA OL               7
SP.Š.ÚSTÍ/L.           7
UNIVSKPS               7
VSKHPZ                 7
TJLTZ                  6
1.FCBPBZ               6
1.1.FC BĚLÁ            6
LOKO K.VARY            6
DUKLA OLOMOUC          6
LOKO TP                6
VSK HUMANITA           5
1.FCB                  5
TJLPZ                  4
USK PHA                4
VENEZUELA              4
TJ DUKLA PRAHA         4
FC LEIPZIG             4
SLAVOJ LITOMERIC       3
HUMANITA PHA           3
TJ LOKO TEPLICE        3
AŠ BR                  3
SLAVLZ                 3
HUM                    3
TJDP                   3
LOKO PLZ               2
TJ LOKO K.VARY         2
TJ LOKO PLZEN          2
1.FC BELA POD BEZ      2
SLAVOJ LIT             2
TJSSUHZ                2
S.DEJVICE              2
UKRAJINA               2
SPŠ ÚSTÍ               2
SLAVOJ LITOMĚŘIC       2
AŠ BRATISLAVA          2
BOHEP                  2
S.PÍSEK                2
RIEGEL PRAHA           2
TJLKV-ŠZ               2
D.PR                   2
VUT BRNO               1
SOKOL PÍSEK            1
OREL HR.KR.            1
TJ DUKLA OLOMOU        1
KS SNINA               1
SČ USTI NAD LABE       1
ASBVA                  1
HAV BROD               1
ČŠKRP                  1
LOKO KV                1
J.H.BROD               1
LAŠSSKFZ               1
ŠK RIEGEL              1
JPN                    1
USKP                   1
SP.Š                   1
S.S.                   1
BOHE                   1
LOKOT                  1
JISKRA H.BROD          1
KŠ SNINA               1
RADEBEUL               1
EKONOM PRAHA           1
Name: Club, dtype: int64

######################################
# Country

CZE    601
SVK      9
GER      5
VE       4
UKR      4
JPN      1
Name: Country, dtype: int64

######################################
# Birthdate

2000-03-05    22
2002-06-07    15
2001-10-07    15
1999-05-30    15
2002-05-25    14
1997-10-04    14
2002-07-07    14
1990-05-25    14
2004-06-05    13
2000-12-29    13
2000-04-01    13
1997-04-17    12
2003-11-09    12
1991-07-01    12
1999-06-14    12
1995-07-31    12
1988-11-08    11
2002-04-25    11
1999-09-26    11
1998-10-23    10
1973-07-06    10
1990-05-17    10
2000-01-01     9
2002-07-04     9
2007-04-22     8
1994-10-21     8
2005-01-07     8
2001-10-25     7
2006-07-03     7
1999-01-01     7
1980-09-26     7
1984-06-13     7
2005-11-04     7
2004-06-29     6
2006-09-23     6
2002-01-04     6
2006-01-22     6
2005-01-23     5
1984-07-31     5
1998-12-01     5
2001-02-23     5
1994-04-05     5
2005-04-16     5
1999-11-17     5
1993-07-03     5
2006-06-13     4
1995-10-23     4
1995-07-22     4
1992-12-18     4
2005-05-04     4
1998-11-02     4
2000-11-11     4
2006-06-06     4
2006-01-12     4
2002-01-01     4
2006-12-05     4
1991-07-18     4
1999-09-01     4
1997-09-08     4
2008-03-13     4
1991-01-01     4
2005-04-12     4
2003-10-09     4
2007-08-13     3
2004-01-15     3
1999-08-08     3
1999-10-17     3
1989-10-11     3
2001-11-05     3
2008-05-19     3
1989-03-10     3
2007-08-23     3
1998-03-09     3
2007-01-13     3
2002-12-07     3
2006-07-15     2
1999-12-22     2
2005-11-24     2
2000-02-01     2
1996-05-09     2
1991-06-14     2
2007-03-25     2
2009-11-26     2
1991-12-04     2
1999-02-08     2
1996-07-13     2
1998-01-01     2
1991-04-02     2
2002-09-10     2
1995-06-23     2
1972-11-01     2
1997-01-01     1
2001-04-13     1
2006-01-30     1
2005-07-21     1
2007-08-10     1
2008-08-02     1
2002-03-27     1
2007-05-01     1
2009-07-20     1
2000-04-29     1
2008-05-21     1
1975-06-12     1
1997-07-28     1
1978-01-01     1
1998-04-03     1
2007-06-10     1
1978-03-23     1
1997-04-27     1
1999-08-16     1
1999-02-20     1
1999-02-22     1
2002-03-23     1
1996-07-18     1
2008-11-17     1
2002-05-08     1
2001-10-13     1
2007-07-01     1
2004-08-09     1
1992-01-01     1
1995-04-02     1
2002-12-04     1
2004-09-30     1
2004-04-07     1
1997-05-27     1
2004-04-17     1
2005-09-30     1
2002-01-29     1
2003-10-21     1
2002-11-15     1
1995-06-08     1
2000-02-10     1
1999-06-08     1
1991-03-29     1
2011-11-01     1
2005-06-10     1
2003-08-29     1
2008-01-25     1
1999-07-09     1
2000-12-27     1
1998-06-09     1
2000-01-13     1
Name: Birthdate, dtype: int64

######################################
# Date

2019-10-12    57
2021-11-27    55
2021-11-07    49
2022-04-15    48
2020-01-25    46
2022-12-17    44
2019-12-08    42
2022-10-23    42
2022-11-06    38
2021-09-26    36
2022-03-13    36
2020-09-19    35
2020-02-23    34
2022-05-21    32
2019-05-25    30
Name: Date, dtype: int64

######################################
# Event

MCR                       101
Zlatý kord města Písku     87
Dukla Olomouc              70
Pohar CEZ                  57
Letnany                    55
Teplice                    48
Cena Letnan                46
Memorial                   44
Cup USK                    42
Lázeňský pohár             42
MČR USK                    32
Name: Event, dtype: int64

######################################
# Sex

W    624
Name: Sex, dtype: int64

######################################
# Rank

999.0    44
99.0     13
3.0      12
17.0     12
6.0      12
12.0     11
1.0      11
13.0     11
7.0      11
11.0     11
8.0      10
9.0      10
23.0     10
10.0     10
14.0     10
15.0     10
2.0      10
22.0      9
36.0      9
29.0      9
47.0      9
4.0       9
27.0      9
35.0      8
37.0      8
62.0      8
39.0      8
20.0      8
24.0      7
16.0      7
5.0       7
25.0      7
50.0      7
32.0      7
44.0      6
26.0      6
34.0      6
33.0      6
19.0      6
18.0      6
52.0      5
21.0      5
41.0      5
31.0      5
43.0      4
28.0      4
42.0      4
61.0      4
38.0      4
54.0      4
30.0      4
76.0      3
40.0      3
59.0      3
58.0      2
55.0      2
51.0      2
71.0      2
56.0      2
70.0      2
69.0      1
45.0      1
60.0      1
46.0      1
Name: Rank, dtype: int64

######################################
# First_rank

24    18
2     18
18    17
28    17
11    16
8     16
15    16
1     15
23    15
9     15
7     15
22    15
27    15
6     15
14    15
5     15
10    15
16    15
31    15
19    15
25    14
12    14
26    14
17    14
20    14
4     14
21    14
29    14
33    14
30    13
34    13
13    13
3     13
32    13
35    12
37    10
36    10
41     9
40     9
39     8
38     8
44     8
43     6
42     6
48     5
46     5
47     4
45     4
52     3
51     2
55     2
54     2
49     2
50     2
56     1
57     1
53     1
Name: First_rank, dtype: int64

######################################
# Final_rank

3     30
28    18
14    16
22    16
31    15
8     15
19    15
21    15
9     15
5     15
16    15
12    15
1     15
23    15
26    15
17    15
2     15
18    15
25    15
10    15
7     15
24    15
6     15
13    15
11    15
20    14
34    14
15    14
27    14
29    14
33    13
32    13
30    13
36    11
35    11
38     9
37     9
40     9
42     8
39     8
44     7
43     7
41     7
46     5
45     4
48     4
47     4
49     4
52     3
54     2
55     2
51     2
50     1
56     1
57     1
53     1
Name: Final_rank, dtype: int64

######################################
# Notes

Advanced      564
Eliminated     60
Name: Notes, dtype: int64

######################################

In [626]:
df_m[df_m["Notes"]=="Withdrew"]

Empty DataFrame
Columns: [Name, Club, Country, Birthdate, Date, Event, Sex, Rank, First_rank, Final_rank, Notes]
Index: []

## I.2 - Duplicity ve jménech
* Export vs. Soutěže (sjednoceno):
* 'SVOBODA Tomáš Kristián' = SVOBODA Tomáš_st. 
* SVOBODA Tomáš = 'SVOBODA Tomáš_ml.',

In [627]:
# 189 jmen -> 15 orpav -> 142 unikátních jmen

to_replace_woman = {"ADAMCOVA Anita": "ADAMCOVÁ Anita",
                    "AIGERMANOVA Gabriela": "AIGERMANOVÁ Gabriela",
                    "BARTOSKOVA Adéla": "BARTOŠKOVÁ Adéla",
                    "BIELESZOVA Veronika": "BIELESZOVÁ Veronika",
                    "CEJNAROVA Barbora": "CEJNAROVÁ Barbora",
                    'CHALUPNÍKOVÁ Arana': 'CHALUPNÍKOVÁ Aranka',
                    'CHEVALIER Vira': 'CHEVALLIER Vira',          # novější a častější, + FB check
                    "COUFALOVA Anna": "COUFALOVÁ Anna",
                    'DE_VINCENZO Francesca': 'DE VINCENZO Francesca',
                    "DIVISOVA Klára": "DIVIŠOVÁ Klára",
                    'DIVIŠOVÁ, ROZ. JÍLKOVÁ Klára': "DIVIŠOVÁ Klára",   #tohle je otázka...
                    "FRDLIKOVA Markéta": "FRDLÍKOVÁ Markéta",
                    "HAVLINOVA Tereza": "HAVLÍNOVÁ Tereza",
                    'HONOVÁ Markéte': 'HONOVÁ Markéta',
                    "HONOVA Marketa": "HONOVÁ Markéta",
                    "HUNCAROVA Katarína": "HUNČÁROVÁ Katarína",
                    'HUNČÁROVÁ Katarina': 'HUNČÁROVÁ Katarína',
                    "CHALUPNIKOVA Aranka": "CHALUPNÍKOVÁ Aranka",
                    'JANKOVÁ Karolina': 'JANKOVÁ Karolína',
                    "KAHABKOVA Eliska": "KAHABKOVÁ Eliška",
                    'KINCLOVÁ Ema': 'KINCLOVÁ Emma',
                    "KOCOURKOVA Marie": "KOCOURKOVÁ Marie",
                    'KOCOUROVÁ Marie': 'KOCOURKOVÁ Marie',     # ověřeno přes datum narození
                    'KOŘÍNKOVÁ Magdalena': 'KOŘÍNKOVÁ Magdaléna',
                    'KRAUSE Rebeka': 'KRAUSE Rebekka',        # podle FB
                    'KŘEČKOVÁ Kamila_Marie': 'KŘEČKOVÁ Kamila',  # naší Kamče jsem zkrátil jméno)
                    "KUHNOVA Korolína": "KÜHNOVÁ Karolína",   # pravděpodobně OK
                    "LASTOVKOVA Tereza": "LAŠTOVKOVÁ Tereza",
                    "MATEJCKOVA Lucie": "MATĚJČKOVÁ Lucie",
                    "MYSKOVA Petra": "MYŠKOVÁ Petra",
                    "NOVAKOVA Petra": "NOVÁKOVÁ Petra",
                    "PECHOVOVA Michala": "PĚCHOVOVÁ Michala",
                    "POKORNA Anna": "POKORNÁ Anna",
                    "POTOCKOVA Katerina": "POTOČKOVÁ Kateřina",
                    "PROKSIKOVA Patricie": "PROKŠÍKOVÁ Patricie",
                    'ROSKOVÁ Sonja_Maria': 'ROŠKOVÁ Sonja',        # zkrátil jsem jméno...
                    "SALIGEROVA Katerina": "SALIGEROVÁ Kateřina",
                    "SLUSNA Karolína": "SLUŠNÁ Karolína",
                    "SMIDOVA Daniela": "ŠMÍDOVÁ Daniela",
                    "SYROVATKOVA Iva": "SYROVÁTKOVÁ Iva",
                    'TODORYSHYNA Virkoriia': 'TODORYSHYNA Viktoriia',
                    "TUMOVA Šárka": "TŮMOVÁ Šárka",
                    'TYRPEKLOVÁ Amálie': 'TYRPEKLOVÁ Amélie',
                    "VACHOVA Tereza": "VÁCHOVÁ Tereza",
                    "VINCENCOVA Ester": "VINCENCOVÁ Ester",
                    "WEISOVA Katerrina": "WEISOVÁ Kateřina",
                    "ZIEGLEROVA Adéla Anna": "ZIEGLEROVÁ Adéla Anna"
            }

print(len(to_replace_woman))
df_m["Name"] = df_m["Name"].replace(to_replace_woman)

47

## I.3 - Ženy & změny příjmení
* Dvě zbývají k ověření

In [628]:
df2 = df_m.groupby(['Name','Birthdate']).size().reset_index().rename(columns={0:'count'})

#vytáhne z groupby, který má 142 unikátních dvojic člověk-datum, počet výskytů datumů narození
df2["Birthdate"].value_counts().head(8) 

# troublemakers:
# 2000-03-05   2 -> OK, dvojčata Jasné
# 1989-10-11   2 -> VACÍNOVÁ Gabriela -> KORYCH Gabriela, klub sedí, nepřekrývají se, je mezi účastmi pauza...
# 1999-01-01   2 -> OK, nesouvisí
# 1997-10-04   2 -> ŠEDIVÁ Michaela -> SVOBODA Michaela, klub sedí, nepřekrývají se, je mezi účastmi pauza...
# 1995-07-31   2 -> ŠÁMALOVÁ Anna -> POKORNÁ Anna

df_m.loc[df_m.Name == "VACÍNOVÁ Gabriela", "Name"] = "KORYCH (VACÍNOVÁ) Gabriela" 
df_m.loc[df_m.Name == "KORYCH Gabriela", "Name"]   = "KORYCH (VACÍNOVÁ) Gabriela" 

df_m.loc[df_m.Name == "ŠEDIVÁ Michaela", "Name"]  = "SVOBODA (ŠEDIVÁ) Michaela" 
df_m.loc[df_m.Name == "SVOBODA Michaela", "Name"] = "SVOBODA (ŠEDIVÁ) Michaela" 

df_m.loc[df_m.Name == "ŠÁMALOVÁ Anna", "Name"] = "POKORNÁ (ŠÁMALOVÁ) Anna" 
df_m.loc[df_m.Name == "POKORNÁ Anna", "Name"]  = "POKORNÁ (ŠÁMALOVÁ) Anna"

In [629]:
# OPRAVA JMEN:
# Svoboda Tomáš st. = Tomáš Kristián
# Svoboda Tomáš ml. = Svoboda Tomáš


to_replace_man = {"ADAM Sykora" : "SÝKORA Adam Herbert",
             "ADDO DJAN Theodor": "ADDO DJAN Theodor Ezekiel",
             "ARTAZOV Maxmilian": "ARTAZOV Maxmilián",
             "BOSAK Stepan": "BOSÁK Štěpán",
             "BEDNAR Kryštof":"BEDNÁR Kryštof",  ##?##
             "BRADAC Petr": "BRADÁČ Petr",
             "CAPEK Martin": "ČAPEK Martin",
             "CUPR Michal": "ČUPR Michal",
             "D´AMICO Kristian": "D'AMICO Kristian",
             "DOLEJSI Marek": "DOLEJŠÍ Marek",
             "DUDUC Alex": "DUDUC Alex Vladimír", ##?##
             "DUDUC Alex Vladimir": "DUDUC Alex Vladimír",
             "ERNEÉ Jan":"ERNÉE Jan",
             "FOLDES Tomáš": "FÖLDES Tomáš",
             "HLAVAC Jakub": "HLAVÁČ Jakub",
             "HOBAUS Max": "HÖBAUS Max",
             "HORBACHUCK Yuriy": "HORBACHUK Yuriy",
             "IVANCO Alexander": "IVANČO Alexandr",  ## Alexander -> Alexandr
             "IVANCO Robin": "IVANČO Robin",
             "IVANCO Mikuláš": "IVANČO Mikuláš",
             "JANU Gael": "JANŮ Gael",
             "JILEK Jaroslav": "JÍLEK Jaroslav",
             "KOURIL Jan": "KOUŘIL Jan",
             "KRUZECKY Tomáš": "KROUŽECKÝ Tomáš",  ##?##
             "KUCHAR Matěj": "KUCHAŘ Matěj",
             "LANIK Jan": "LÁNÍK Jan",
             "LOKAJ Vaclav": "LOKAJ Václav",
             "LUSTICKY Josef": "LUŠTICKÝ Josef",
             "MOTALIK Libor": "MOTALÍK Libor",
             "NOVAK Martin": "NOVÁK Martin",
             "PAVLIK Matyáš": "PAVLÍK Matyáš",
             "PROCHAZKA Ondřej": "PROCHÁZKA Ondřej",
             "PUSTEJOVSKY Vladimír": "PUSTĚJOVSKÝ Vladimír",
             "RUBES Martin": "RUBEŠ Martin",
             "ŘEZANKA_ST. Ota": "ŘEZANKA Ota",
             'SADSKY Jaroslav': 'SADSKÝ Jaroslav',
             "SKROVNY Petr": "SKROVNÝ Petr",
             "SMITKA Jan": "SMÍTKA Jan",
             "SMRCEK Šimon": "SMRČEK Šimon",
             "STIRBER Sebastian": "STIRBER Sebastián",
             "SVOBODA Tomáš_St.": "SVOBODA Tomáš Kristián",
             "SVOBODA Tomáš_st.": "SVOBODA Tomáš Kristián",
             "SVOBODA Tomáš_ml.": "SVOBODA Tomáš",
             "SVOBODA Tomáš_Ml.": "SVOBODA Tomáš",
             "ŠILHAN Jindřich": "ŠILHÁN Jindřich",
             "ŠTVERAK Martin": "ŠTVERÁK Martin",
             "TABORSKY Lukas": "TÁBORSKÝ Lukáš",
             "TKAČENKO Danil": "TKACHENKO Danil",
             "TUMA Marek": "TŮMA Marek",
             "VACHOVEC Matej": "VACHOVEC Matěj",
             "VALKOVIC Martin": "VALKOVIČ Martin",
             "VONDRA Matous":"VONDRA Matouš"
                }
                  
print(len(to_replace_man))

df_m["Name"] = df_m["Name"].replace(to_replace_man)

52

In [630]:
pd.options.display.max_rows = 999
printbold(str(len(df_m["Name"].unique())))

139

In [631]:
print(sorted(df_m["Name"].unique()))

['ADAMCOVÁ Anita', 'AIGERMANOVÁ Gabriela', 'BALLESTER Scarly', 'BARTOŠKOVÁ Adéla', 'BERTLOVÁ Barbora', 'BIELESZOVÁ Veronika', 'BOROVIČKOVÁ Hana', 'BROVKO Inna', 'BURSOVÁ Regina', 'CEJNAROVÁ Barbora', 'CHALUPNÍKOVÁ Aranka', 'CHEVALLIER Vira', 'COUFALOVÁ Anna', 'DE VINCENZO Francesca', 'DIVIŠOVÁ Klára', 'DLOUHÁ Tereza', 'DOUBOVÁ Dominika', 'DOŠKOVÁ Kateřina', 'FORMANOVÁ Elizabeth', 'FRAŇKOVÁ Magdalena', 'FRDLÍKOVÁ Markéta', 'GAZDOVÁ Beáta', 'GROLLMISCH Felicitas', 'GRÜNEROVÁ Michaela', 'HABRYCHOVÁ Eva', 'HAIKAL Victoria', 'HANESZ Katarina', 'HANZLÍKOVÁ Klára', 'HARTMANOVÁ Barbora', 'HAVLÍNOVÁ Tereza', 'HLAVÁČKOVÁ Lucie', 'HONOMICHLOVÁ Martina', 'HONOVÁ Markéta', 'HUNČÁROVÁ Katarína', 'HÁJEČKOVÁ Tereza', 'JANKOVÁ Karolína', 'JASKULLA Klara', 'JASNÁ Adéla', 'JASNÁ Tereza', 'JELÍNKOVÁ Martina', 'JURKOVÁ Hana', 'JÍLKOVÁ Nikola', 'KAHABKOVÁ Eliška', 'KINCLOVÁ Emma', 'KOCOURKOVÁ Marie', 'KOPKOVÁ Hana', 'KORYCH (VACÍNOVÁ) Gabriela', 'KOŘÍNKOVÁ Magdaléna', 'KOŘÍNKOVÁ Miroslava', 'KRAUSE Rebekka', 'KUGLEROVÁ Klára', 'KVETOVSKÁ Veronika', 'KÜHNOVÁ Karolína', 'KŘENKOVÁ Karolína', 'KŘESINOVÁ Zlata', 'KŘEČKOVÁ Kamila', 'KŘÍŽOVÁ Tereza', 'LANDGRAFOVÁ Veronika', 'LAŠTOVKOVÁ Marcela', 'LAŠTOVKOVÁ Tereza', 'LINDEROVÁ Nina', 'LIPOVÁ Aneta', 'MAIELLO Ester', 'MARČÍK Sára', 'MATĚJČKOVÁ Lucie', 'MAYA Danierys', 'MIKLENDOVÁ Valérie', 'MIROVSKÁ Eliška', 'MYŠKOVÁ Petra', 'MÜLLEROVÁ Ivana', 'MĚSÍČKOVÁ Barbora', 'NEVOSADOVÁ Eliška', 'NOVOTNÁ Veronika', 'NOVÁKOVÁ Petra', 'NOVÁČKOVÁ Dominika', 'NÁDVORNÍKOVÁ Barbora', 'NĚMCOVÁ Pavla', 'PIOVESAN Patrizia', 'POKORNÁ (ŠÁMALOVÁ) Anna', 'POSADA Betyumil', 'POTOČKOVÁ Kateřina', 'PRCHALOVÁ Eliška', 'PROKŠÍKOVÁ Patricie', 'PRŮŠOVÁ Kristýna', 'PĚCHOVOVÁ Michala', 'PŘIBYLOVÁ Eliška', 'RAJNOCH Barbora', 'RAKOUŠOVÁ Karolína', 'ROHANOVÁ Anna', 'ROUBÍČKOVÁ Anna', 'ROVENSKÁ Emma', 'ROŠKOVÁ Sonja', 'SALIGEROVÁ Kateřina', 'SAMKO Anastasiia', 'SASVARIOVÁ Laura', 'SEHNALOVÁ Markéta', 'SELICHAROVÁ Gabriela', 'SKOČILASOVÁ Kristýna', 'SLUŠNÁ Karolína', 'SMUTNÁ Tereza', 'STUPKOVÁ Sára', 'SVOBODA (ŠEDIVÁ) Michaela', 'SYROVÁTKOVÁ Iva', 'TAKAKURA Makoto', 'TITĚROVÁ Michaela', 'TODORYSHYNA Viktoriia', 'TOMANOVÁ Kateřina', 'TOTUŠKOVÁ Pavla', 'TROJANOVÁ Kristýna', 'TVARŮŽKOVÁ Karolína', 'TYRPEKLOVÁ Amélie', 'TÓBISZOVÁ Monika', 'TŮMOVÁ Šárka', 'URBÁNKOVÁ Klára', 'VACKOVÁ Tereza', 'VALENTOVÁ Amálie', 'VINCENCOVÁ Ester', 'VOGEL Leona_Emilia', 'VOLÁKOVÁ Hana', 'VRATIŠOVSKÁ Zlata', 'VRŠNÍKOVÁ Karolína', 'VYSLOUŽILOVÁ Vanda', 'VÁCHOVÁ Tereza', 'VÁŇOVÁ Kateřina', 'WEISOVÁ Kateřina', 'YOUSEF Mira', 'ZIEGLEROVÁ Adéla Anna', 'ZÁVITKOVSKÁ Zuzana', 'ČAPKOVÁ Barbora', 'ČERNÍKOVÁ Lucie', 'ČERVENKOVÁ Kateřina', 'ČÁPOVÁ Barbora', 'ŘÍHOVÁ Marcela', 'ŠAFRÁNKOVÁ Adéla', 'ŠEBESTOVÁ Nela', 'ŠMÍDOVÁ Daniela', 'ŠPATENKOVÁ Anna', 'ŽOLNOVÁ Karolína', 'ŽÁDNÍKOVÁ Daniela']

## I.4 - Duplicity v Klubech
* Vždy je diskutabilní, který název klubu je ten správný..beru nejdelší 
* vyřešit kluby: "UKRAJINA", "SVK", "GEO", ...
* jeden sporný: ASBVA = Akademie šermu Bratislava??

## I.4.1 -  Lidé, co změnili Klub:
* **CIMLER**: Bohemka -> RIEGEL PRAHA 
* **KRAJSA**: SLAVOJ LITOMERICE -> TJ LOKO K.VARY
* **TKACHENKO**: RUS -> SPORTOVNÍ ŠERM ZLÍN
* **HUNČÁROVÁ**: KS SNINA 
* **CHEVALLIER**: BOHEMIANS -> VSK HUMANITA
* **DOŠKOVÁ**: SLAVOJ LITOMERICE -> USK PRAHA
* **FRDLÍKOVÁ**: BOHEMIANS -> VSK HUMANITA
* **HUNČÁROVÁ**: KŠ SNINA -> SC PRAHA
* **KOŘÍNKOVÁ Magdaléna**: SS UH.HRADISTE -> Dukla Olomouc
* **LINDEROVÁ**: AŠ BR -> ASBVA   # možná to není změna..ale nevadí
* **MIROVSKÁ**: USK PRAHA -> SC PRAHA
* **ŠÁMALOVÁ** USK PRAHA -> VSK HUMANITA

In [632]:
df_m.loc[df_m.Name == "CIMLER Čestmír", "Club"] = "RIEGEL PRAHA"
df_m.loc[df_m.Name == "KRAJSA Tomáš", "Club"] = "TJ LOKO K.VARY"
df_m.loc[df_m.Name == "TKACHENKO Danil", "Club"] = "SPORTOVNÍ ŠERM ZLÍN"

df_m.loc[df_m.Name == "CHEVALLIER Vira", "Club"] = "VSK HUMANITA"
df_m.loc[df_m.Name == "DOŠKOVÁ Kateřina", "Club"] = "USK PRAHA"
df_m.loc[df_m.Name == "FRDLÍKOVÁ Markéta", "Club"] = "VSK HUMANITA"
df_m.loc[df_m.Name == "HUNČÁROVÁ Katarína", "Club"] = "SC PRAHA"
df_m.loc[df_m.Name == "KOŘÍNKOVÁ Magdaléna", "Club"] = "DUKLA OLOMOUC" 
df_m.loc[df_m.Name == "LINDEROVÁ Nina", "Club"] = "ASBVA" 
df_m.loc[df_m.Name == "MIROVSKÁ Eliška", "Club"] = "SC PRAHA" 
df_m.loc[df_m.Name == "POKORNÁ (ŠÁMALOVÁ) Anna", "Club"] = "VSK HUMANITA"

In [649]:
to_replace_club = {
    "LOKO K.VARY": "TJ LOKO K.VARY",    ####
    "LOKO KV": "TJ LOKO K.VARY",    
    "TJLKV-ŠZ": "TJ LOKO K.VARY",  
    "LOKOK": "TJ LOKO K.VARY",
    
    "LOKO TEPLICE": "TJ LOKO TEPLICE",   ####
    "LOKO TP": "TJ LOKO TEPLICE",
    "TJLTZ": "TJ LOKO TEPLICE",
    "LOKOT": "TJ LOKO TEPLICE",
    
    "SCPŠS": "SC PRAHA",    ####
    "SCP": "SC PRAHA",
    
    "D.PRAHA": "TJ DUKLA PRAHA",  ####
    "DUKLA PRAHA": "TJ DUKLA PRAHA", 
    "TJDP": "TJ DUKLA PRAHA",
    "TJDPZ": "TJ DUKLA PRAHA",
    "D.PR": "TJ DUKLA PRAHA",
    
    "1.1.FC BĚLÁ": "1.FC BELA POD BEZ", ####
    "1.FC BĚLÁ": "1.FC BELA POD BEZ",
    "1.FC BELA": "1.FC BELA POD BEZ",
    "1.FCB": "1.FC BELA POD BEZ",
    "1.FCBPBZ": "1.FC BELA POD BEZ",
    
    "LOKO PLZ": "TJ LOKO PLZEN", ####
    "LOKO PLZEŇ": "TJ LOKO PLZEN",
    "TJLPZ": "TJ LOKO PLZEN",
    
    "S.PÍSEK": "TJ SOKOL PÍSEK", ###
    "TJ SOKOL PISEK": "TJ SOKOL PÍSEK" ,
    "SOKOL PÍSEK": "TJ SOKOL PÍSEK",
    
    "HF PRAHA": "VSK HUMANITA", ####
    "HUMANITA PHA": "VSK HUMANITA",
    "VSKHPZ": "VSK HUMANITA",
    "HUM": "VSK HUMANITA",
    
    "ČŠKRP": "RIEGEL PRAHA",  ####
    "ČESKŠKRZ": "RIEGEL PRAHA",
    "ČŠK RIEGEL": "RIEGEL PRAHA",
    "RIEGP": "RIEGEL PRAHA",
    
    "DUKLA OL": "DUKLA OLOMOUC",  ####
    "TĚLOJDOZ": "DUKLA OLOMOUC",
    "D.OL": "DUKLA OLOMOUC",
    "TJ DUKLA OLOMOU": "DUKLA OLOMOUC",
    "D.OLOMOUC": "DUKLA OLOMOUC",
    "Dukla Olomouc": "DUKLA OLOMOUC",
    
    "SL.LITOMĚŘICE": "SLAVOJ LITOMĚŘICE", ####
    "SLAVOJ LIT": "SLAVOJ LITOMĚŘICE",
    "SLAVOJ LITOMERIC": "SLAVOJ LITOMĚŘICE",
    "SL.L": "SLAVOJ LITOMĚŘICE",
    "SL. LITOMĚŘICE": "SLAVOJ LITOMĚŘICE",
    "SLAVOJ LITOMERICE": "SLAVOJ LITOMĚŘICE",
    "SLAVOJ LITOMĚŘIC": "SLAVOJ LITOMĚŘICE",
    "SLAVOJ LITOMERICE": "SLAVOJ LITOMĚŘICE",
    "SLAVLZ": "SLAVOJ LITOMĚŘICE",
    
    "S.S.UH.HRAD.": "SS UH.HRADISTE", ####
     "S.S.": "SS UH.HRADISTE",
    "TJSSUHZ": "SS UH.HRADISTE",
    
    "UNIVSKPS": "USK PRAHA", ####
    "USK PHA": "USK PRAHA",
    "USKP": "USK PRAHA",
    
    "J.H.BROD": "JISKRA H.BROD",  ####
    "HAV BROD": "JISKRA H.BROD",
    
    "SP.Š.ÚSTÍ/L.": "SČ USTI NAD LABEM", ####
    "SPŠ ÚSTÍ": "SČ USTI NAD LABEM",
    "SPORŠÚNLZ": "SČ USTI NAD LABEM",
    "SŠ USTI N. LABEM": "SČ USTI NAD LABEM",
    "SČ USTI NAD LABE": "SČ USTI NAD LABEM",
    "SP.Š": "SČ USTI NAD LABEM",
    
    "S.DEJVICE": "SOKOL DEJVICE", ####
    "S.DE": "SOKOL DEJVICE",
    "TJSPDI": "SOKOL DEJVICE", 
    
    "EKONOM": "EKONOM PRAHA", ####
    "VYSOTJEPZ": "EKONOM PRAHA",
    "EKONP": "EKONOM PRAHA",
    
    "BSKM": "BSK MARTINENGO", ####
    "BŠKMARTINENGO": "BSK MARTINENGO",
    
    "ŠERMLZ": "ŠERM LIBEREC", ####
    "SERM LIBEREC": "ŠERM LIBEREC",
    
    "SLOV HORKY": "TJ SLOVAN HORKY", ####
    "SLOVAN HORKY": "TJ SLOVAN HORKY", 
    "TĚLOJSHZ": "TJ SLOVAN HORKY",
    
    "TJSBI": "S.BRNO I",  ####
    "S.BRNO I": "SOKOL BRNO I",
    "S.BRNO I": "SOKOL BRNO I",
    
    "AKADSB": "AKADÉMIA ŠERMU BRATISLAVA",  ####
    
    "SLAV ČTĚŠ": "SLAVOJ Č.TĚŠÍN", ####
    "SLAVOJ TESIN": "SLAVOJ Č.TĚŠÍN",
    "SL.Č.TĚŠÍN": "SLAVOJ Č.TĚŠÍN",
    "TJSČTZ": "SLAVOJ Č.TĚŠÍN",
    
    "OREL HK": "OREL HR.KR.", ####
    "ORELJHK": "OREL HR.KR.",
    
    "SP.Š. TÁBOR": "SPORTOVNÍ ŠERM TÁBOR", ####
    "SP Š TÁBOR": "SPORTOVNÍ ŠERM TÁBOR",
    "SP.Š.TÁBOR": "SPORTOVNÍ ŠERM TÁBOR",
    ###   
    "LOKOP": "TJ LOKO PLZEN",
    "OREL H.K." : "OREL HR.KR.",
    "SPORT. ŠERM ZLÍN": "SPORTOVNÍ ŠERM ZLÍN",
    "SPORŠZZ": "SPORTOVNÍ ŠERM ZLÍN",
    "SP PLZEŇ": "SOKOL PLZEŇ",
    "SOKOL PLZEN": "SOKOL PLZEŇ",
    "BOHEP": "BOHEMIANS",
    "KS SNINA": "KŠ SNINA",  # Klub šermu snina
    "AŠ BR": "AŠ BRATISLAVA"
            }

In [650]:
df_m["Club"] = df_m["Club"].replace(to_replace_club)

In [651]:
men_clubs = df_m.groupby(['Name','Club']).size().reset_index().rename(columns={0:'count'})
# .size() vs .count(), zajímavé

printbold(str(len(men_clubs)))
#men_clubs

139

## I.5 -  Duplicity v Datumech narození - NEJASNE 
* předpoklad - kdo má 1.1., tak datum nejdřív nevěděli, později doplnili
* toto aplikuji sem: BALCAR Josef, BEDNÁR Kryštof, MIČINEC Adam, STEHLÍK Jan, STOLAR Samuel, VÁVRA Vojtěch,
* , HEREY Anatoliy, JAVAKHISHVILI Georgii, NOVOTNÝ Šimon
* DUDUC Alex Vladimir (má 3 různé - zatím volím 1.6.97)
* GAISLER Jakub (jiný měsíc - zatím volím 29.4., byl víckrát, shodně s exportem Mužů)
* KURÁŇ Martin (stále o den - zatím volím 24.8., shodně s exportem Mužů)
* Stehlík Vojtěch - na webu 2001, ale v Lázenském poháru 2011 = to musí být error
* SVOBODA Bohumil Jiří - dva různé datumy, volím ten častější 2003-03-17

#### ženy
* 1.1. vs. Jiné datum: CHEVALLIER Vira, COUFALOVÁ Anna, JASNÁ Adéla, JASNÁ Tereza, JELÍNKOVÁ Martina, KRAUSE Rebekka, KŘEČKOVÁ Kamila, 
* PROKŠÍKOVÁ Patricie, ROŠKOVÁ Sonja, SALIGEROVÁ Kateřina, SYROVÁTKOVÁ Iva, VACKOVÁ Tereza, VOLÁKOVÁ Hana, VRŠNÍKOVÁ Karolína, ŠPATENKOVÁ Anna
* DOŠKOVÁ Kateřina - Dvě různé, volím to častější (1999-12-22)
* NOVOTNÁ Veronika - dvě různé, to častější a dávající smysl (2000-11-11)
* URBÁNKOVÁ Klára - dvě různé, to častější (2005-05-04)

In [652]:
men_birthdates = df_m.groupby(['Name','Birthdate']).size().reset_index().rename(columns={0:'count'})
printbold(str(len(men_birthdates)))
print(len(men_birthdates))

139
139

In [653]:
## Problémisti:

df2 = df_m.groupby(['Name','Birthdate']).size().reset_index().rename(columns={0:'count'})
df2 = df2[["Name", "Birthdate"]]
#display(df2)
v = df2.Name.value_counts()   # kolikrát se jméno objevuje v našem Name-Birthdate groupáči, kde jsou unikátní dvojice
df2[df2.Name.isin(v.index[v.gt(1)])]  # nevím co je to v.gt(1), ale 1 v tuto chvíli říká 2 a více výskytů :D

Empty DataFrame
Columns: [Name, Birthdate]
Index: []

In [654]:
## MANUÁLNÍ OPRAVA Muži

df_m.loc[df_m.Name == "BALCAR Josef", "Birthdate"] = "1998-10-31"
df_m.loc[df_m.Name == "BEDNÁR Kryštof", "Birthdate"] = "1997-04-02"
df_m.loc[df_m.Name == "DUDUC Alex Vladimír", "Birthdate"] = "1997-06-01"
df_m.loc[df_m.Name == "GAISLER Jakub", "Birthdate"] = "2005-04-29"
df_m.loc[df_m.Name == "KURÁŇ Martin", "Birthdate"] = "2005-08-24"
df_m.loc[df_m.Name == "MIČINEC Adam", "Birthdate"] = "1991-07-01"
df_m.loc[df_m.Name == "STEHLÍK Jan", "Birthdate"] = "1999-02-28"
df_m.loc[df_m.Name == "STOLAR Samuel", "Birthdate"] = "1998-06-16"
df_m.loc[df_m.Name == "VÁVRA Vojtěch", "Birthdate"] = "1996-11-19"
df_m.loc[df_m.Name == "STEHLÍK Vojtěch", "Birthdate"] = "2001-11-07"

# 2022_12_Memorial:
df_m.loc[df_m.Name == "SVOBODA Bohumil Jiří", "Birthdate"] = "2003-03-17"
df_m.loc[df_m.Name == "NOVOTNÝ Šimon", "Birthdate"] = "2006-05-17"
df_m.loc[df_m.Name == "JAVAKHISHVILI Georgii", "Birthdate"] = "1999-05-05"
df_m.loc[df_m.Name == "HEREY Anatoliy", "Birthdate"] = "1989-03-31"

# ??
df_m.loc[df_m.Name == "IVANČO Robin", "Birthdate"] = "1999-10-08"
df_m.loc[df_m.Name == "JIRAN Jan", "Birthdate"] = "1996-07-31"
df_m.loc[df_m.Name == "JURKA Jakub", "Birthdate"] = "1999-06-13"
df_m.loc[df_m.Name == "JURKA Tomáš", "Birthdate"] = "1997-01-20"
df_m.loc[df_m.Name == "MAZANEC Matěj", "Birthdate"] = "1998-03-02"
df_m.loc[df_m.Name == "OSIČKA Adam", "Birthdate"] = "2000-10-22"
df_m.loc[df_m.Name == "PRYL Dobromil", "Birthdate"] = "1975-05-06"
df_m.loc[df_m.Name == "TKACHENKO Danil", "Birthdate"] = "2000-10-31"

In [655]:
## MANUÁLNÍ OPRAVA Ženy

df_m.loc[df_m.Name == "CHEVALLIER Vira", "Birthdate"] = "1992-12-18"
df_m.loc[df_m.Name == "COUFALOVÁ Anna", "Birthdate"] = "2000-04-01"
df_m.loc[df_m.Name == "DOŠKOVÁ Kateřina", "Birthdate"] = "1999-12-22"
df_m.loc[df_m.Name == "JASNÁ Adéla", "Birthdate"] = "2000-03-05"
df_m.loc[df_m.Name == "JASNÁ Tereza", "Birthdate"] = "2000-03-05"
df_m.loc[df_m.Name == "JELÍNKOVÁ Martina", "Birthdate"] = "1998-03-09"
df_m.loc[df_m.Name == "KRAUSE Rebekka", "Birthdate"] = "2000-12-27"
df_m.loc[df_m.Name == "KŘEČKOVÁ Kamila", "Birthdate"] = "1997-09-08"
df_m.loc[df_m.Name == "NOVOTNÁ Veronika", "Birthdate"] = "2000-11-11"
df_m.loc[df_m.Name == "PROKŠÍKOVÁ Patricie", "Birthdate"] = "2002-07-07"
df_m.loc[df_m.Name == "ROŠKOVÁ Sonja", "Birthdate"] = "2000-02-10"
df_m.loc[df_m.Name == "SALIGEROVÁ Kateřina", "Birthdate"] = "1999-06-14"
df_m.loc[df_m.Name == "SYROVÁTKOVÁ Iva", "Birthdate"] = "1998-11-02"
df_m.loc[df_m.Name == "URBÁNKOVÁ Klára", "Birthdate"] = "2005-05-04"
df_m.loc[df_m.Name == "VACKOVÁ Tereza", "Birthdate"] = "1991-12-04"
df_m.loc[df_m.Name == "VOLÁKOVÁ Hana", "Birthdate"] = "2002-07-04"
df_m.loc[df_m.Name == "VRŠNÍKOVÁ Karolína", "Birthdate"] = "1991-04-02"
df_m.loc[df_m.Name == "ŠPATENKOVÁ Anna", "Birthdate"] = "1999-09-26"

## I.6 - Kontrola zemí 

* DUDUC Alex Vladimir & STEIS Matúš - oba víckrát SVK než CZE -> SVK
* CHEVALLIER Vira = CZE podle většiny
* HUNČÁROVÁ Katarína - má to tak půl napůl -> novější =  SVK
* TODORYSHYNA Viktoriia - půl napůl -> novější = UKR
* YOUSEF Mira - půl napůl -> novější = UKR

In [656]:
men_countries = df_m.groupby(['Name','Club', "Country", "Sex", "Birthdate"]).size().reset_index().rename(columns={0:'count'})
printbold(str(len(men_countries)))
#men_countries

139

In [657]:
df_m.loc[df_m.Name == "DUDUC Alex Vladimír", "Country"] = "SVK"
df_m.loc[df_m.Name == "STEIS Matúš", "Country"] = "SVK"
df_m.loc[df_m.Name == "BÉREŠ Daniel", "Country"] = "CZE"

df_m.loc[df_m.Name == "CHEVALLIER Vira", "Country"] = "CZE"
df_m.loc[df_m.Name == "HUNČÁROVÁ Katarína", "Country"] = "SVK"
df_m.loc[df_m.Name == "TODORYSHYNA Viktoriia", "Country"] = "UKR"
df_m.loc[df_m.Name == "YOUSEF Mira", "Country"] = "UKR"

## I.7 - Kontrola Final Ranků
* otázka: čím nahradit DNF? 99 ? 999? Pomlčkou, a pak vynechávat?

In [658]:
df_m["Final_rank"].value_counts()

df_m["Final_rank"] = df_m["Final_rank"].replace({"DNF": 999})

In [659]:
df_m[df_m.Name == "JURKA Jakub"]  # opravdu, má dvě čisté výhry turnajů

Empty DataFrame
Columns: [Name, Club, Country, Birthdate, Date, Event, Sex, Rank, First_rank, Final_rank, Notes, Year]
Index: []

In [660]:
# seřazeno podle průměrného Final_ranku přes všechyn jejich závody
# samozřemě DNF = 999 mi to pokazí

df_m.groupby('Name')['Final_rank'].mean().round().sort_values()

Name
PIOVESAN Patrizia              1.0
BROVKO Inna                    2.0
SAMKO Anastasiia               3.0
MAYA Danierys                  3.0
PĚCHOVOVÁ Michala              3.0
SMUTNÁ Tereza                  3.0
BIELESZOVÁ Veronika            4.0
DOUBOVÁ Dominika               4.0
SALIGEROVÁ Kateřina            4.0
DOŠKOVÁ Kateřina               6.0
ČERVENKOVÁ Kateřina            7.0
COUFALOVÁ Anna                 9.0
PROKŠÍKOVÁ Patricie            9.0
AIGERMANOVÁ Gabriela          11.0
JASNÁ Tereza                  12.0
JASKULLA Klara                12.0
POTOČKOVÁ Kateřina            12.0
POKORNÁ (ŠÁMALOVÁ) Anna       13.0
HUNČÁROVÁ Katarína            14.0
JASNÁ Adéla                   14.0
YOUSEF Mira                   14.0
VOLÁKOVÁ Hana                 14.0
CHALUPNÍKOVÁ Aranka           14.0
GROLLMISCH Felicitas          15.0
ČAPKOVÁ Barbora               15.0
JANKOVÁ Karolína              15.0
KŘENKOVÁ Karolína             15.0
NOVOTNÁ Veronika              15.0
ŠPATENKOVÁ Anna               15.0
HAVLÍNOVÁ Tereza              15.0
RAJNOCH Barbora               16.0
ŽÁDNÍKOVÁ Daniela             16.0
BURSOVÁ Regina                16.0
TROJANOVÁ Kristýna            16.0
SASVARIOVÁ Laura              16.0
VALENTOVÁ Amálie              16.0
SEHNALOVÁ Markéta             17.0
MYŠKOVÁ Petra                 17.0
NEVOSADOVÁ Eliška             17.0
PŘIBYLOVÁ Eliška              17.0
POSADA Betyumil               18.0
MARČÍK Sára                   18.0
JÍLKOVÁ Nikola                18.0
KAHABKOVÁ Eliška              19.0
SVOBODA (ŠEDIVÁ) Michaela     20.0
ŠAFRÁNKOVÁ Adéla              20.0
VINCENCOVÁ Ester              20.0
ŘÍHOVÁ Marcela                21.0
KORYCH (VACÍNOVÁ) Gabriela    21.0
TOMANOVÁ Kateřina             22.0
ROUBÍČKOVÁ Anna               22.0
TODORYSHYNA Viktoriia         22.0
DE VINCENZO Francesca         24.0
ŠMÍDOVÁ Daniela               24.0
NOVÁKOVÁ Petra                24.0
RAKOUŠOVÁ Karolína            24.0
KRAUSE Rebekka                25.0
GAZDOVÁ Beáta                 25.0
BARTOŠKOVÁ Adéla              25.0
HABRYCHOVÁ Eva                25.0
ADAMCOVÁ Anita                26.0
CEJNAROVÁ Barbora             26.0
JURKOVÁ Hana                  26.0
KUGLEROVÁ Klára               26.0
DIVIŠOVÁ Klára                27.0
HARTMANOVÁ Barbora            27.0
MIKLENDOVÁ Valérie            28.0
ZÁVITKOVSKÁ Zuzana            28.0
TOTUŠKOVÁ Pavla               28.0
ROŠKOVÁ Sonja                 28.0
LAŠTOVKOVÁ Tereza             28.0
PRŮŠOVÁ Kristýna              28.0
KOŘÍNKOVÁ Magdaléna           28.0
ŽOLNOVÁ Karolína              30.0
LAŠTOVKOVÁ Marcela            30.0
KŘESINOVÁ Zlata               30.0
NOVÁČKOVÁ Dominika            30.0
VYSLOUŽILOVÁ Vanda            31.0
VÁCHOVÁ Tereza                31.0
WEISOVÁ Kateřina              31.0
KVETOVSKÁ Veronika            31.0
ZIEGLEROVÁ Adéla Anna         32.0
FRDLÍKOVÁ Markéta             32.0
TAKAKURA Makoto               32.0
LINDEROVÁ Nina                32.0
SELICHAROVÁ Gabriela          32.0
HANZLÍKOVÁ Klára              33.0
MĚSÍČKOVÁ Barbora             33.0
NÁDVORNÍKOVÁ Barbora          33.0
HAIKAL Victoria               34.0
BALLESTER Scarly              34.0
HONOMICHLOVÁ Martina          34.0
TVARŮŽKOVÁ Karolína           35.0
SLUŠNÁ Karolína               35.0
VOGEL Leona_Emilia            35.0
TYRPEKLOVÁ Amélie             35.0
KÜHNOVÁ Karolína              35.0
KINCLOVÁ Emma                 35.0
LANDGRAFOVÁ Veronika          36.0
HONOVÁ Markéta                36.0
MIROVSKÁ Eliška               36.0
ROHANOVÁ Anna                 36.0
URBÁNKOVÁ Klára               36.0
ČERNÍKOVÁ Lucie               36.0
GRÜNEROVÁ Michaela            37.0
HANESZ Katarina               37.0
VACKOVÁ Tereza                37.0
KŘEČKOVÁ Kamila               38.0
CHEVALLIER Vira               38.0
FORMANOVÁ Elizabeth           38.0
VRŠNÍKOVÁ Karolína            39.0
TŮMOVÁ Šárka                  39.0
KOŘÍNKOVÁ Miroslava           39.0
ROVENSKÁ Emma                 39.0
KOCOURKOVÁ Marie              39.0
SYROVÁTKOVÁ Iva               39.0
BERTLOVÁ Barbora              40.0
MAIELLO Ester                 40.0
BOROVIČKOVÁ Hana              40.0
MATĚJČKOVÁ Lucie              41.0
STUPKOVÁ Sára                 41.0
PRCHALOVÁ Eliška              41.0
ČÁPOVÁ Barbora                41.0
JELÍNKOVÁ Martina             41.0
LIPOVÁ Aneta                  42.0
DLOUHÁ Tereza                 43.0
VRATIŠOVSKÁ Zlata             43.0
KOPKOVÁ Hana                  43.0
VÁŇOVÁ Kateřina               43.0
TÓBISZOVÁ Monika              44.0
TITĚROVÁ Michaela             45.0
MÜLLEROVÁ Ivana               45.0
HLAVÁČKOVÁ Lucie              46.0
ŠEBESTOVÁ Nela                46.0
KŘÍŽOVÁ Tereza                46.0
FRAŇKOVÁ Magdalena            52.0
NĚMCOVÁ Pavla                 52.0
SKOČILASOVÁ Kristýna          56.0
HÁJEČKOVÁ Tereza              57.0
Name: Final_rank, dtype: float64

## I.8 - Finální Kontrola, na počet unikátních jedinců, pro porovnání se stávajícími excely:

In [664]:
df_fin = df_m.groupby(['Name','Birthdate', "Club", "Country"]).size().reset_index().rename(columns={0:'count'})
printbold(str(len(df_fin)))
df_fin

139

                           Name  Birthdate               Club Country  count
0                ADAMCOVÁ Anita 2006-01-22     TJ LOKO K.VARY     CZE      6
1          AIGERMANOVÁ Gabriela 2002-06-07    TJ LOKO TEPLICE     CZE     15
2              BALLESTER Scarly 1999-01-01          VENEZUELA      VE      1
3              BARTOŠKOVÁ Adéla 2009-11-26           SC PRAHA     CZE      2
4              BERTLOVÁ Barbora 1997-07-28  SČ USTI NAD LABEM     CZE      1
5           BIELESZOVÁ Veronika 2002-04-25           SC PRAHA     CZE     11
6              BOROVIČKOVÁ Hana 1972-11-01          BOHEMIANS     CZE      2
7                   BROVKO Inna 1997-04-27           UKRAJINA     CZE      1
8                BURSOVÁ Regina 2001-04-13      AŠ BRATISLAVA     SVK      1
9             CEJNAROVÁ Barbora 2007-04-22           SC PRAHA     CZE      8
10          CHALUPNÍKOVÁ Aranka 1997-04-17     TJ DUKLA PRAHA     CZE     12
11              CHEVALLIER Vira 1992-12-18       VSK HUMANITA     CZE      5
12               COUFALOVÁ Anna 2000-04-01  1.FC BELA POD BEZ     CZE     15
13        DE VINCENZO Francesca 2003-10-09           SC PRAHA     CZE      4
14               DIVIŠOVÁ Klára 1988-11-08      TJ LOKO PLZEN     CZE     11
15                DLOUHÁ Tereza 2002-12-04  SČ USTI NAD LABEM     CZE      1
16             DOUBOVÁ Dominika 1990-05-17           SC PRAHA     CZE     10
17             DOŠKOVÁ Kateřina 1999-12-22          USK PRAHA     CZE      4
18          FORMANOVÁ Elizabeth 2008-05-21     TJ LOKO K.VARY     CZE      1
19           FRAŇKOVÁ Magdalena 2002-03-27      SOKOL DEJVICE     CZE      1
20            FRDLÍKOVÁ Markéta 1991-07-01       VSK HUMANITA     CZE     12
21                GAZDOVÁ Beáta 2000-04-29           LAŠSSKFZ     CZE      1
22         GROLLMISCH Felicitas 2002-05-08         FC LEIPZIG     GER      1
23           GRÜNEROVÁ Michaela 2004-04-17     TJ DUKLA PRAHA     CZE      1
24               HABRYCHOVÁ Eva 1991-07-18      TJ LOKO PLZEN     CZE      4
25              HAIKAL Victoria 1999-08-16       VSK HUMANITA     CZE      1
26              HANESZ Katarina 1995-06-08           SC PRAHA     CZE      1
27             HANZLÍKOVÁ Klára 1989-03-10       RIEGEL PRAHA     CZE      3
28           HARTMANOVÁ Barbora 2002-01-04     TJ DUKLA PRAHA     CZE      6
29             HAVLÍNOVÁ Tereza 2003-11-09           SC PRAHA     CZE     12
30             HLAVÁČKOVÁ Lucie 2005-09-30     TJ DUKLA PRAHA     CZE      1
31         HONOMICHLOVÁ Martina 2002-09-10      TJ LOKO PLZEN     CZE      2
32               HONOVÁ Markéta 1994-04-05     TJ DUKLA PRAHA     CZE      5
33           HUNČÁROVÁ Katarína 1995-07-22           SC PRAHA     SVK      4
34             HÁJEČKOVÁ Tereza 1998-04-03       VSK HUMANITA     CZE      1
35             JANKOVÁ Karolína 1994-10-21     TJ DUKLA PRAHA     CZE      8
36               JASKULLA Klara 2001-10-13         FC LEIPZIG     GER      1
37                  JASNÁ Adéla 2000-03-05      DUKLA OLOMOUC     CZE     13
38                 JASNÁ Tereza 2000-03-05      DUKLA OLOMOUC     CZE     13
39            JELÍNKOVÁ Martina 1998-03-09       VSK HUMANITA     CZE      4
40                 JURKOVÁ Hana 2009-07-20      DUKLA OLOMOUC     CZE      1
41               JÍLKOVÁ Nikola 1995-06-23      TJ LOKO PLZEN     CZE      2
42             KAHABKOVÁ Eliška 2008-03-13           SC PRAHA     CZE      4
43                KINCLOVÁ Emma 2008-05-19           SC PRAHA     CZE      3
44             KOCOURKOVÁ Marie 2005-11-04  SLAVOJ LITOMĚŘICE     CZE      7
45                 KOPKOVÁ Hana 2002-03-23           VUT BRNO     CZE      1
46   KORYCH (VACÍNOVÁ) Gabriela 1989-10-11          USK PRAHA     CZE      3
47          KOŘÍNKOVÁ Magdaléna 2000-12-29      DUKLA OLOMOUC     CZE     13
48          KOŘÍNKOVÁ Miroslava 1973-07-06     SS UH.HRADISTE     CZE     10
49               KRAUSE Rebekka 2000-12-27         FC LEIPZIG     GER      2
50              KUGLEROVÁ Klára 2005-11-24  SLAVOJ LITOMĚŘICE     CZE      2
51           KVETOVSKÁ Veronika 2000-01-01      DUKLA OLOMOUC     CZE      1
52             KÜHNOVÁ Karolína 2007-08-13  SLAVOJ LITOMĚŘICE     CZE      3
53            KŘENKOVÁ Karolína 1998-10-23      TJ LOKO PLZEN     CZE     10
54              KŘESINOVÁ Zlata 1978-03-23     TJ SOKOL PÍSEK     CZE      1
55              KŘEČKOVÁ Kamila 1997-09-08       VSK HUMANITA     CZE      5
56               KŘÍŽOVÁ Tereza 1998-06-09          ŠK RIEGEL     CZE      1
57         LANDGRAFOVÁ Veronika 2008-08-02    TJ LOKO TEPLICE     CZE      1
58           LAŠTOVKOVÁ Marcela 1996-07-13      TJ LOKO PLZEN     CZE      2
59            LAŠTOVKOVÁ Tereza 2000-02-01      TJ LOKO PLZEN     CZE      2
60               LINDEROVÁ Nina 1991-01-01              ASBVA     SVK      2
61                 LIPOVÁ Aneta 2001-11-05     TJ DUKLA PRAHA     CZE      3
62                MAIELLO Ester 2005-04-12           SC PRAHA     CZE      4
63                  MARČÍK Sára 2006-06-13          USK PRAHA     CZE      4
64             MATĚJČKOVÁ Lucie 2006-07-03  SLAVOJ LITOMĚŘICE     CZE      7
65                MAYA Danierys 1999-07-09          VENEZUELA      VE      1
66           MIKLENDOVÁ Valérie 2007-05-01      DUKLA OLOMOUC     CZE      1
67              MIROVSKÁ Eliška 2004-06-29           SC PRAHA     CZE      6
68                MYŠKOVÁ Petra 1991-06-14     TJ LOKO K.VARY     CZE      2
69              MÜLLEROVÁ Ivana 2005-07-21    TJ LOKO TEPLICE     CZE      1
70            MĚSÍČKOVÁ Barbora 1999-09-01  SČ USTI NAD LABEM     CZE      4
71            NEVOSADOVÁ Eliška 1998-12-01           SC PRAHA     CZE      5
72             NOVOTNÁ Veronika 2000-11-11     TJ DUKLA PRAHA     CZE      5
73               NOVÁKOVÁ Petra 2002-05-25  1.FC BELA POD BEZ     CZE     14
74           NOVÁČKOVÁ Dominika 2003-08-29  1.FC BELA POD BEZ     CZE      1
75         NÁDVORNÍKOVÁ Barbora 1997-05-27       VSK HUMANITA     CZE      1
76                NĚMCOVÁ Pavla 2003-10-21     TJ LOKO K.VARY     CZE      1
77            PIOVESAN Patrizia 1991-03-29          VENEZUELA      VE      1
78      POKORNÁ (ŠÁMALOVÁ) Anna 1995-07-31       VSK HUMANITA     CZE     12
79              POSADA Betyumil 1999-06-08          VENEZUELA      VE      1
80           POTOČKOVÁ Kateřina 1999-05-30           SC PRAHA     CZE     15
81             PRCHALOVÁ Eliška 1996-07-18        OREL HR.KR.     CZE      1
82          PROKŠÍKOVÁ Patricie 2002-07-07           SC PRAHA     CZE     15
83             PRŮŠOVÁ Kristýna 1999-02-08          USK PRAHA     CZE      2
84            PĚCHOVOVÁ Michala 1990-05-25     TJ DUKLA PRAHA     CZE     14
85             PŘIBYLOVÁ Eliška 1995-04-02     TJ DUKLA PRAHA     CZE      1
86              RAJNOCH Barbora 1996-05-09     TJ DUKLA PRAHA     CZE      2
87           RAKOUŠOVÁ Karolína 2007-07-01           SC PRAHA     CZE      1
88                ROHANOVÁ Anna 2008-11-17      TJ LOKO PLZEN     CZE      1
89              ROUBÍČKOVÁ Anna 1999-11-17     TJ DUKLA PRAHA     CZE      5
90                ROVENSKÁ Emma 2007-08-10           SC PRAHA     CZE      1
91                ROŠKOVÁ Sonja 2000-02-10      AŠ BRATISLAVA     SVK      2
92          SALIGEROVÁ Kateřina 1999-06-14           SC PRAHA     CZE     14
93             SAMKO Anastasiia 1999-02-20           UKRAJINA     CZE      1
94             SASVARIOVÁ Laura 1999-01-01      AŠ BRATISLAVA     SVK      1
95            SEHNALOVÁ Markéta 1999-08-08      DUKLA OLOMOUC     CZE      3
96         SELICHAROVÁ Gabriela 2002-12-07     TJ DUKLA PRAHA     CZE      3
97         SKOČILASOVÁ Kristýna 2002-11-15           SC PRAHA     CZE      1
98              SLUŠNÁ Karolína 2006-09-23           SC PRAHA     CZE      6
99                SMUTNÁ Tereza 1975-06-12          USK PRAHA     CZE      1
100               STUPKOVÁ Sára 2006-01-30  SČ USTI NAD LABEM     CZE      1
101   SVOBODA (ŠEDIVÁ) Michaela 1997-10-04          USK PRAHA     CZE     14
102             SYROVÁTKOVÁ Iva 1998-11-02       VSK HUMANITA     CZE      5
103             TAKAKURA Makoto 2002-01-01                JPN     JPN      1
104           TITĚROVÁ Michaela 2006-07-15  SLAVOJ LITOMĚŘICE     CZE      2
105       TODORYSHYNA Viktoriia 2007-03-25     TJ SOKOL PÍSEK     UKR      2
106           TOMANOVÁ Kateřina 2001-02-23     TJ DUKLA PRAHA     CZE      5
107             TOTUŠKOVÁ Pavla 1978-01-01           SC PRAHA     CZE      1
108          TROJANOVÁ Kristýna 1999-10-17     TJ DUKLA PRAHA     CZE      3
109         TVARŮŽKOVÁ Karolína 2007-06-10     TJ LOKO K.VARY     CZE      1
110           TYRPEKLOVÁ Amélie 2006-01-12           SC PRAHA     CZE      4
111            TÓBISZOVÁ Monika 2000-01-13       EKONOM PRAHA     SVK      1
112                TŮMOVÁ Šárka 1993-07-03       VSK HUMANITA     CZE      5
113             URBÁNKOVÁ Klára 2005-05-04    TJ LOKO TEPLICE     CZE      5
114              VACKOVÁ Tereza 1991-12-04      DUKLA OLOMOUC     CZE      3
115            VALENTOVÁ Amálie 2007-08-23           SC PRAHA     CZE      3
116            VINCENCOVÁ Ester 2001-10-07           SC PRAHA     CZE     15
117          VOGEL Leona_Emilia 2002-01-29           RADEBEUL     GER      1
118               VOLÁKOVÁ Hana 2002-07-04      DUKLA OLOMOUC     CZE     11
119           VRATIŠOVSKÁ Zlata 2004-01-15      JISKRA H.BROD     CZE      3
120          VRŠNÍKOVÁ Karolína 1991-04-02          BOHEMIANS     CZE      3
121          VYSLOUŽILOVÁ Vanda 2007-01-13           SC PRAHA     CZE      3
122              VÁCHOVÁ Tereza 2005-01-07          USK PRAHA     CZE      8
123             VÁŇOVÁ Kateřina 2005-06-10     TJ DUKLA PRAHA     CZE      1
124            WEISOVÁ Kateřina 2004-06-05    TJ LOKO TEPLICE     CZE     13
125                 YOUSEF Mira 2006-12-05  SČ USTI NAD LABEM     UKR      4
126       ZIEGLEROVÁ Adéla Anna 2005-01-23    TJ LOKO TEPLICE     CZE      4
127          ZÁVITKOVSKÁ Zuzana 2008-01-25           SC PRAHA     CZE      1
128             ČAPKOVÁ Barbora 1980-09-26      DUKLA OLOMOUC     CZE      7
129             ČERNÍKOVÁ Lucie 2004-09-30    TJ LOKO TEPLICE     CZE      1
130         ČERVENKOVÁ Kateřina 2001-10-25           SC PRAHA     CZE      7
131              ČÁPOVÁ Barbora 2004-04-07     TJ DUKLA PRAHA     CZE      1
132              ŘÍHOVÁ Marcela 1984-06-13      DUKLA OLOMOUC     CZE      7
133            ŠAFRÁNKOVÁ Adéla 2006-06-06  1.FC BELA POD BEZ     CZE      4
134              ŠEBESTOVÁ Nela 2004-08-09      SOKOL DEJVICE     CZE      1
135             ŠMÍDOVÁ Daniela 2005-04-16      DUKLA OLOMOUC     CZE      5
136             ŠPATENKOVÁ Anna 1999-09-26      DUKLA OLOMOUC     CZE     13
137            ŽOLNOVÁ Karolína 1995-10-23      DUKLA OLOMOUC     CZE      4
138           ŽÁDNÍKOVÁ Daniela 1984-07-31      DUKLA OLOMOUC     CZE      5

## I.9 - Vytvoření tabulky závodníků a tabulky Ranků. Ještě bude tabulka zápasů
* vyřešit sortování jmen dle české abecedy
* Případně příjmení psát bez diakritiky...

* ID / Jméno /Klub (potenciálně víc) / Stát / Pohlaví / D.narození / Ruka / Zbraň / Skore v žebříčku k poslednímu update 
* // dopočítaný počet všech turnajů, počet poolových zápasů a počet eliminačních zápasů, a jejich koeficienty Výher. / Počet vítězství? nebo to až později...

In [646]:
df_m["Year"]  = pd.DatetimeIndex(df_m['Birthdate']).year
printbold(str(len(df_m)))

624

In [665]:
df_m_people = df_m.groupby(['Name','Club', "Country", "Sex", "Birthdate", "Year"]).size().reset_index().rename(columns={0:'count'})
df_m_people = df_m_people[["Name", "Club", "Country", "Sex", "Birthdate", "Year"]]

df_m_people.to_excel(f"C:/Users/jzelenka/Documents/python_j/fencing/1_zavodnici_{SEX}_NEW.xlsx", index=False)
df_m.to_excel(f"C:/Users/jzelenka/Documents/python_j/fencing/2_ranky_{SEX}_NEW.xlsx", index=False)

printbold(str(len(df_m_people)))
df_m_people.head(2)
df_m_people.tail(2)

139

                  Name           Club Country Sex  Birthdate  Year
134     ŠEBESTOVÁ Nela  SOKOL DEJVICE     CZE   W 2004-08-09  2004
135    ŠMÍDOVÁ Daniela  DUKLA OLOMOUC     CZE   W 2005-04-16  2005
136    ŠPATENKOVÁ Anna  DUKLA OLOMOUC     CZE   W 1999-09-26  1999
137   ŽOLNOVÁ Karolína  DUKLA OLOMOUC     CZE   W 1995-10-23  1995
138  ŽÁDNÍKOVÁ Daniela  DUKLA OLOMOUC     CZE   W 1984-07-31  1984

## The End

## --> Fencing_Visualizations